body {
  font-family: Be Vietnam;
}
.display-1 {
  font-family: 'Be Vietnam', sans-serif;
  font-size: 4.0625rem;
  line-height: 1;
  letter-spacing: -0.03em;
}
.display-1 > .mbr-iconfont {
  font-size: 6.5rem;
}
.display-2 {
  font-family: 'Be Vietnam', sans-serif;
  font-size: 3.1875rem;
  line-height: 1.05;
  letter-spacing: -0.02em;
}
.display-2 > .mbr-iconfont {
  font-size: 5.1rem;
}
.display-4 {
  font-family: 'Be Vietnam', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.65;
}
.display-4 > .mbr-iconfont {
  font-size: 1rem;
}
.display-5 {
  font-family: 'Be Vietnam', sans-serif;
  font-size: 2.4375rem;
  line-height: 1.1;
  letter-spacing: -0.01em;
}
.display-5 > .mbr-iconfont {
  font-size: 3.9rem;
}
.display-7 {
  font-family: 'Be Vietnam', sans-serif;
  font-size: 1.5625rem;
  line-height: 1.35;
  letter-spacing: -0.01em;
}
.display-7 > .mbr-iconfont {
  font-size: 2.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.25rem;
    font-size: calc( 2.071875rem + (4.0625 - 2.071875) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.071875rem + (4.0625 - 2.071875) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.55rem;
    font-size: calc( 1.765625rem + (3.1875 - 1.765625) * ((100vw - 20rem) / (48 - 20)));
  }
  .display-5 {
    font-size: 1.95rem;
    font-size: calc( 1.5031249999999998rem + (2.4375 - 1.5031249999999998) * ((100vw - 20rem) / (48 - 20)));
  }
  .display-7 {
    font-size: 1.25rem;
    font-size: calc( 1.196875rem + (1.5625 - 1.196875) * ((100vw - 20rem) / (48 - 20)));
  }
}
/* Buttons */
.btn {
  padding: 14px 18px;
  border-radius: 4px;
}
.btn-sm {
  padding: 7px 15px;
  border-radius: 4px;
}
.btn-md {
  padding: 15px 20px;
  border-radius: 4px;
}
.btn-lg {
  padding: 18px 25px;
  border-radius: 4px;
}
.bg-primary {
  background-color: #4200ff !important;
}
.bg-success {
  background-color: #3dc84b !important;
}
.bg-info {
  background-color: #4200ff !important;
}
.bg-warning {
  background-color: #283742 !important;
}
.bg-danger {
  background-color: #ebeaed !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #4200ff !important;
  border-color: #4200ff !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #4200ff;
  border-color: #4200ff;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #4200ff !important;
  border-color: #4200ff !important;
}
.btn-primary:hover {
  background-color: #3500cc !important;
  border-color: #3500cc !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #17161a !important;
  border-color: #17161a !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #17161a;
  border-color: #17161a;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #17161a !important;
  border-color: #17161a !important;
}
.btn-secondary:hover {
  background-color: #4200ff !important;
  border-color: #4200ff !important;
}
.btn-info,
.btn-info:active {
  background-color: #4200ff !important;
  border-color: #4200ff !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #4200ff;
  border-color: #4200ff;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #4200ff !important;
  border-color: #4200ff !important;
}
.btn-info:hover {
  background-color: #3500cc !important;
  border-color: #3500cc !important;
}
.btn-success,
.btn-success:active {
  background-color: #3dc84b !important;
  border-color: #3dc84b !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #3dc84b;
  border-color: #3dc84b;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #3dc84b !important;
  border-color: #3dc84b !important;
}
.btn-success:hover {
  background-color: #2ea43a !important;
  border-color: #2ea43a !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #283742 !important;
  border-color: #283742 !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #283742;
  border-color: #283742;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #283742 !important;
  border-color: #283742 !important;
}
.btn-warning:hover {
  background-color: #151d22 !important;
  border-color: #151d22 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ebeaed !important;
  border-color: #ebeaed !important;
  color: #696474 !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #696474 !important;
  background-color: #ebeaed;
  border-color: #ebeaed;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #696474 !important;
  background-color: #ebeaed !important;
  border-color: #ebeaed !important;
}
.btn-danger:hover {
  background-color: #d1cfd5 !important;
  border-color: #d1cfd5 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-white:hover {
  color: #17161a !important;
}
.btn-white.btn {
  color: #17161a !important;
}
.btn-black,
.btn-black:active {
  background-color: #17161a !important;
  border-color: #17161a !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #17161a;
  border-color: #17161a;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #17161a !important;
  border-color: #17161a !important;
}
.btn-primary-outline {
  border: 1px solid;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #4200ff;
  color: #4200ff;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff !important;
  background: #4200ff !important;
  border-color: #4200ff;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #4200ff !important;
  border-color: #4200ff !important;
}
.btn-secondary-outline {
  border: 1px solid;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #17161a;
  color: #17161a;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff !important;
  background: #17161a !important;
  border-color: #17161a;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #17161a !important;
  border-color: #17161a !important;
}
.btn-secondary-outline:hover {
  background-color: #4200ff !important;
  border-color: #4200ff !important;
}
.btn-info-outline {
  border: 1px solid;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #4200ff;
  color: #4200ff;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff !important;
  background: #4200ff !important;
  border-color: #4200ff;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #4200ff !important;
  border-color: #4200ff !important;
}
.btn-success-outline {
  border: 1px solid;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #3dc84b;
  color: #3dc84b;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #ffffff !important;
  background: #3dc84b !important;
  border-color: #3dc84b;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #3dc84b !important;
  border-color: #3dc84b !important;
}
.btn-warning-outline {
  border: 1px solid;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #283742;
  color: #283742;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff !important;
  background: #283742 !important;
  border-color: #283742;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #283742 !important;
  border-color: #283742 !important;
}
.btn-danger-outline {
  border: 1px solid;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #ebeaed;
  color: #ebeaed;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #696474 !important;
  background: #ebeaed !important;
  border-color: #ebeaed;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #696474 !important;
  background-color: #ebeaed !important;
  border-color: #ebeaed !important;
}
.btn-black-outline {
  border: 1px solid;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #17161a;
  color: #17161a;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff !important;
  background: #17161a !important;
  border-color: #17161a;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #17161a !important;
  border-color: #17161a !important;
}
.btn-white-outline {
  border: 1px solid;
}
.btn-white-outline,
.btn-white-outline:active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #808080 !important;
  background: #ffffff !important;
  border-color: #ffffff;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-white-outline:hover {
  color: #17161a !important;
}
.text-primary {
  color: #4200ff !important;
}
.text-secondary {
  color: #17161a !important;
}
.text-success {
  color: #3dc84b !important;
}
.text-info {
  color: #4200ff !important;
}
.text-warning {
  color: #283742 !important;
}
.text-danger {
  color: #ebeaed !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #280099 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #000000 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #237c2c !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #280099 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #020202 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #b7b3be !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #666666 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4200ff !important;
}
.alert-success {
  background-color: #3dc84b;
}
.alert-info {
  background-color: #4200ff;
}
.alert-warning {
  background-color: #283742;
}
.alert-danger {
  background-color: #ebeaed;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none;
}
.mbr-gallery-filter li.active .btn {
  background-color: #4200ff;
  border-color: #4200ff;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #4200ff;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #d9ccff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0e4a7;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #d9ccff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #92abbd;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Be Vietnam', sans-serif;
  font-size: 1.5625rem;
  line-height: 1.35;
  letter-spacing: -0.01em;
}
.form-control > .mbr-iconfont {
  font-size: 2.5rem;
}
blockquote {
  border-color: #4200ff;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #4200ff;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #4200ff;
  border-bottom-color: #4200ff;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #4200ff !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #17161a !important;
  box-shadow: none !important;
}
.sidebar-block .mbr-gallery-item .galleryItem .onsale {
  top: 0px;
}
.sidebar-block .mbr-gallery-item .galleryItem .sidebar_wraper {
  bottom: -35px;
  margin-left: 1rem;
}
.cid-uFfPC44WMu {
  background-color: transparent;
  z-index: 1000;
  width: 100%;
}
.cid-uFfPC44WMu .navbar-dropdown {
  background-color: #ffffff !important;
  padding: 0;
}
.cid-uFfPC44WMu .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background-color: #ffffff !important;
  background: #ffffff;
}
.cid-uFfPC44WMu .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-uFfPC44WMu .menu_box {
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .cid-uFfPC44WMu .menu_box {
    flex-direction: column;
    align-items: flex-start;
  }
  .cid-uFfPC44WMu .menu_box .navbar.opened,
  .cid-uFfPC44WMu .menu_box .navbar-collapse {
    background-color: #ffffff !important;
    transition: all 0s ease 0s;
  }
}
.cid-uFfPC44WMu nav.navbar {
  position: fixed;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.cid-uFfPC44WMu .btn {
  min-height: auto;
  box-shadow: none;
  margin-top: 0;
}
.cid-uFfPC44WMu .btn:hover {
  box-shadow: none;
}
.cid-uFfPC44WMu .nav-item {
  margin: 4px 15px;
}
@media (min-width: 1200px) {
  .cid-uFfPC44WMu .nav-item {
    margin: 4px 24px;
  }
}
@media (max-width: 991px) {
  .cid-uFfPC44WMu .nav-item {
    margin: 0 !important;
  }
}
.cid-uFfPC44WMu .nav-item .nav-link {
  transition: all 0.5s ease-out;
  border-radius: .5rem !important;
  position: relative;
  opacity: 1;
}
.cid-uFfPC44WMu .nav-item .nav-link:hover,
.cid-uFfPC44WMu .nav-item .nav-link:focus {
  color: #baab99 !important;
}
.cid-uFfPC44WMu .dropdown-menu {
  border-radius: 0;
  box-shadow: none;
  text-align: left;
}
@media (min-width: 992px) {
  .cid-uFfPC44WMu .dropdown-menu {
    padding: 18px 34px 22px;
    min-width: 250px;
    top: auto !important;
    left: -40px !important;
  }
  .cid-uFfPC44WMu .dropdown-menu.dropdown-submenu {
    left: 215px !important;
    top: -45% !important;
  }
}
@media (max-width: 991px) {
  .cid-uFfPC44WMu .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]::after,
  .cid-uFfPC44WMu .link.dropdown-toggle::after {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-left: .5rem;
    margin-bottom: 2px;
    content: "";
    border: 2px solid;
    border-left: none;
    border-top: none;
    transform: rotate(-45deg);
    right: 15px;
    position: absolute;
    margin-top: -2px;
  }
  .cid-uFfPC44WMu .show.dropdown-toggle[aria-expanded="true"]::after {
    transform: rotate(45deg);
    margin-top: -4px;
  }
  .cid-uFfPC44WMu .offcanvas_box {
    display: none;
  }
}
.cid-uFfPC44WMu .dropdown-item {
  border: none;
  font-weight: 300 !important;
  transition: all 0.3s ease-in-out;
}
.cid-uFfPC44WMu .dropdown-item:hover,
.cid-uFfPC44WMu .dropdown-item:focus {
  color: #baab99 !important;
}
.cid-uFfPC44WMu .nav-dropdown .link {
  font-weight: 400 !important;
  padding: 0 !important;
  margin: 0 !important;
}
.cid-uFfPC44WMu .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: -4px;
}
.cid-uFfPC44WMu .container {
  display: flex;
  margin: auto;
}
.cid-uFfPC44WMu .iconfont-wrapper {
  color: #000000;
  font-size: 17px;
  margin-right: 10px;
  margin-bottom: 5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
.cid-uFfPC44WMu .iconfont-wrapper:last-child {
  margin-right: 0;
}
.cid-uFfPC44WMu .iconfont-wrapper:hover {
  opacity: .5;
}
.cid-uFfPC44WMu .navbar-nav {
  margin: 0 1rem;
}
@media (min-width: 992px) {
  .cid-uFfPC44WMu .navbar-nav {
    margin: 0;
  }
}
.cid-uFfPC44WMu .dropdown-menu,
.cid-uFfPC44WMu .navbar.opened {
  background-color: false !important;
}
.cid-uFfPC44WMu .nav-item:focus,
.cid-uFfPC44WMu .nav-link:focus {
  outline: none;
}
.cid-uFfPC44WMu .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-uFfPC44WMu .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-uFfPC44WMu .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-uFfPC44WMu .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-uFfPC44WMu .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-uFfPC44WMu .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-uFfPC44WMu .navbar {
  min-height: 70px;
  padding: 10px 0;
  transition: all 0.3s;
  border-bottom-width: 0;
}
@media (max-width: 992px) {
  .cid-uFfPC44WMu .navbar {
    min-height: 30px;
    max-height: none;
  }
}
.cid-uFfPC44WMu .navbar.opened {
  transition: all 0.3s;
}
.cid-uFfPC44WMu .navbar .dropdown-item {
  padding: 0;
  margin: 8px 0;
}
.cid-uFfPC44WMu .navbar .navbar-logo img {
  max-width: 50px;
  min-height: 50px;
  object-fit: contain;
  border-radius: 5px !important;
}
.cid-uFfPC44WMu .navbar .navbar-collapse {
  justify-content: center;
  justify-content: flex-end;
  z-index: 1;
}
.cid-uFfPC44WMu .navbar.collapsed {
  justify-content: center;
}
.cid-uFfPC44WMu .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-uFfPC44WMu .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-uFfPC44WMu .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-uFfPC44WMu .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-uFfPC44WMu .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-uFfPC44WMu .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: left;
}
.cid-uFfPC44WMu .navbar.collapsed .icons-menu {
  padding: 0;
}
@media (max-width: 991px) {
  .cid-uFfPC44WMu .navbar .nav-item {
    padding: .5rem 0;
  }
  .cid-uFfPC44WMu .navbar .navbar-collapse {
    padding: 34px 0;
    border-radius: 16px;
    width: 100%;
  }
  .cid-uFfPC44WMu .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-uFfPC44WMu .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-uFfPC44WMu .navbar .dropdown-menu {
    padding: 6px 0 6px 15px;
  }
  .cid-uFfPC44WMu .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-uFfPC44WMu .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
    margin-top: -0.4rem;
  }
  .cid-uFfPC44WMu .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-uFfPC44WMu .navbar ul.navbar-nav {
    overflow: hidden;
    margin: 0;
  }
  .cid-uFfPC44WMu .navbar ul.navbar-nav li {
    margin: 0;
  }
  .cid-uFfPC44WMu .navbar .dropdown-menu .dropdown-item {
    padding: 0 !important;
    margin: 0;
    margin-top: 8px;
    text-align: left;
  }
  .cid-uFfPC44WMu .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 0;
    width: 100%;
    justify-content: space-between;
  }
  .cid-uFfPC44WMu .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-uFfPC44WMu .navbar .icons-menu {
    padding: 0;
  }
}
.cid-uFfPC44WMu .navbar.navbar-short {
  min-height: 60px;
}
.cid-uFfPC44WMu .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-uFfPC44WMu .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-uFfPC44WMu .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-uFfPC44WMu .navbar-brand .navbar-caption {
  line-height: inherit !important;
  font-weight: 700;
}
.cid-uFfPC44WMu .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-uFfPC44WMu .dropdown-item.active,
.cid-uFfPC44WMu .dropdown-item:active {
  background-color: transparent;
}
.cid-uFfPC44WMu .navbar-expand-lg .navbar-nav .nav-link {
  margin: 8px 12px !important;
}
@media (max-width: 991px) {
  .cid-uFfPC44WMu .navbar-expand-lg .navbar-nav .nav-link {
    margin: 8px 0 !important;
  }
}
.cid-uFfPC44WMu .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-uFfPC44WMu .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-uFfPC44WMu .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-uFfPC44WMu ul.navbar-nav {
  flex-wrap: wrap;
  padding: 0;
}
.cid-uFfPC44WMu .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-uFfPC44WMu button.navbar-toggler {
  outline: none;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
  color: #ffffff;
  background: #baab99;
}
.cid-uFfPC44WMu button.navbar-toggler .hamburger span {
  position: absolute;
  right: 10px;
  margin-top: 14px;
  width: 26px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-uFfPC44WMu button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-uFfPC44WMu button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-uFfPC44WMu button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-uFfPC44WMu button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-uFfPC44WMu nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-uFfPC44WMu nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-uFfPC44WMu nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-uFfPC44WMu nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-uFfPC44WMu a.nav-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cid-uFfPC44WMu .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding: 0;
  text-align: center;
  margin-bottom: 35px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-uFfPC44WMu .navbar {
    height: 70px;
  }
  .cid-uFfPC44WMu .navbar.opened {
    height: auto;
  }
  .cid-uFfPC44WMu .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-uFfPC44WMu .navbar-dropdown .navbar-logo {
  margin-right: 10px;
}
@media (min-width: 768px) {
  .cid-uFfPC44WMu .container-fluid {
    padding-left: 56px;
    padding-right: 56px;
  }
}
.cid-uFfPC44WMu .mbr-section-btn-main {
  width: fit-content;
}
.cid-uFfPC44WMu .mbr-section-btn-main .btn {
  margin: 8px;
  min-width: 235px;
}
.cid-uFfPC44WMu .navbar-caption:hover {
  color: #4200ff;
}
@media (min-width: 992px) {
  .cid-uFfPC44WMu .dropdown-menu.dropdown-submenu {
    left: 175px !important;
    top: -45% !important;
  }
}
.cid-uFfPC44WMu .text_widget {
  margin-bottom: 32px;
}
.cid-uFfPC44WMu .text_widget a {
  transition: all 0.3s ease-out;
}
.cid-uFfPC44WMu .text_widget a:hover,
.cid-uFfPC44WMu .text_widget a:focus {
  opacity: .8;
}
@media (min-width: 992px) {
  .cid-uFfPC44WMu .navbar-nav.nav-dropdown {
    display: -webkit-flex;
    width: 100%;
    justify-content: flex-end;
    min-width: 200px;
  }
}
.cid-uFfPC44WMu .mbr-section-subtitle {
  color: #30262b;
  text-align: center;
}
.cid-uFfPC44WMu .navbar-caption {
  color: #30262b;
}
.cid-uFfPC44WMu .mbr-text {
  color: #30262b;
  text-align: center;
}
.cid-uFfPC44WMu .icons-menu-main {
  display: flex;
}
.cid-uFfPC44WMu .mbr-section-subtitle,
.cid-uFfPC44WMu .text_widget,
.cid-uFfPC44WMu .mbr-section-btn {
  text-align: center;
}
.cid-uFfPC44WMu a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  background-image: none;
}
.cid-rRN6EiXnPa {
  padding-top: 4rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}
.cid-rRN6EiXnPa .content__block {
  padding: 30px 15px;
}
.cid-rRN6EiXnPa .mbr-text {
  margin-bottom: 30px;
}
.cid-rRN6EiXnPa .mbr-section-subtitle {
  opacity: .8;
  margin-bottom: 20px;
}
.cid-rRN6EiXnPa .divider {
  background-color: #191f23;
  width: 100%;
  height: 1px;
  margin: 15px 0;
  opacity: .6;
}
.cid-rRN6EiXnPa .bottom__text {
  margin: 10px 0;
}
.cid-rRN6EiXnPa .btn {
  margin-top: 0;
}
.cid-rRN6EiXnPa .btn:hover {
  background-color: #4200ff !important;
  border-color: #4200ff !important;
}
.cid-rRN6EiXnPa .image {
  width: 100%;
}
.cid-rRN6EiXnPa .image img {
  width: 100%;
  object-fit: cover;
}
@media (max-width: 991px) {
  .cid-rRN6EiXnPa .image {
    margin-bottom: 10px;
  }
  .cid-rRN6EiXnPa .mbr-text {
    margin-bottom: 20px;
  }
}
.cid-rRN6EiXnPa .mbr-section-title {
  color: #283742;
}
.cid-rRN6EiXnPa .mbr-text,
.cid-rRN6EiXnPa .mbr-section-btn {
  color: #000000;
  text-align: left;
}
.cid-uFfT0jU7hD {
  padding-top: 5rem;
  padding-bottom: 0rem;
  background-color: #eeeef7;
}
.cid-uFfT0jU7hD .mbr-fallback-image.disabled {
  display: none;
}
.cid-uFfT0jU7hD .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uFfT0jU7hD .title-wrapper .mbr-section-title {
  margin-bottom: 60px;
}
@media (max-width: 992px) {
  .cid-uFfT0jU7hD .title-wrapper .mbr-section-title {
    margin-bottom: 32px;
  }
}
.cid-uFfT0jU7hD .items-wrap {
  justify-content: center;
  margin: 0 -46px;
}
.cid-uFfT0jU7hD .items-wrap .item {
  padding: 0 46px;
}
.cid-uFfT0jU7hD .item {
  margin-bottom: 32px;
}
.cid-uFfT0jU7hD .item:hover .item-wrapper .item-img img,
.cid-uFfT0jU7hD .item:focus .item-wrapper .item-img img {
  transform: scale(1.1);
}
.cid-uFfT0jU7hD .item .item-wrapper .item-desc {
  margin-bottom: 22px;
}
.cid-uFfT0jU7hD .item .item-wrapper .item-img {
  margin-bottom: 22px;
}
.cid-uFfT0jU7hD .item .item-wrapper .item-img .image-wrapper {
  overflow: hidden;
}
.cid-uFfT0jU7hD .item .item-wrapper .item-img .image-wrapper img {
  height: 390px;
  width: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 992px) {
  .cid-uFfT0jU7hD .item .item-wrapper .item-img .image-wrapper img {
    height: 350px;
  }
}
.cid-uFfT0jU7hD .item .item-wrapper .item-content .item-title {
  margin-bottom: 10px;
}
.cid-uFfT0jU7hD .item .item-wrapper .item-content .item-name {
  margin-bottom: 0;
}
.cid-uFfT0jU7hD .mbr-section-btn {
  margin-top: 42px;
  text-align: right;
}
@media (max-width: 992px) {
  .cid-uFfT0jU7hD .mbr-section-btn {
    margin-top: 22px;
  }
}
.cid-uFfT0jU7hD .mbr-section-title {
  color: #191c25;
}
.cid-uFfT0jU7hD .item-desc {
  color: #191c25;
  text-align: center;
}
.cid-uFfT0jU7hD .item-title {
  color: #191c25;
  text-align: center;
}
.cid-uFfT0jU7hD .item-name {
  color: #191c25;
  text-align: center;
}
.cid-uFfTe6vcXn {
  padding-top: 0rem;
  padding-bottom: 5rem;
  background-color: #eeeef7;
}
.cid-uFfTe6vcXn .mbr-fallback-image.disabled {
  display: none;
}
.cid-uFfTe6vcXn .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uFfTe6vcXn .title-wrapper .mbr-section-title {
  margin-bottom: 60px;
}
@media (max-width: 992px) {
  .cid-uFfTe6vcXn .title-wrapper .mbr-section-title {
    margin-bottom: 32px;
  }
}
.cid-uFfTe6vcXn .items-wrap {
  justify-content: center;
  margin: 0 -46px;
}
.cid-uFfTe6vcXn .items-wrap .item {
  padding: 0 46px;
}
.cid-uFfTe6vcXn .item {
  margin-bottom: 32px;
}
.cid-uFfTe6vcXn .item:hover .item-wrapper .item-img img,
.cid-uFfTe6vcXn .item:focus .item-wrapper .item-img img {
  transform: scale(1.1);
}
.cid-uFfTe6vcXn .item .item-wrapper .item-desc {
  margin-bottom: 22px;
}
.cid-uFfTe6vcXn .item .item-wrapper .item-img {
  margin-bottom: 22px;
}
.cid-uFfTe6vcXn .item .item-wrapper .item-img .image-wrapper {
  overflow: hidden;
}
.cid-uFfTe6vcXn .item .item-wrapper .item-img .image-wrapper img {
  height: 390px;
  width: 100%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 992px) {
  .cid-uFfTe6vcXn .item .item-wrapper .item-img .image-wrapper img {
    height: 350px;
  }
}
.cid-uFfTe6vcXn .item .item-wrapper .item-content .item-title {
  margin-bottom: 10px;
}
.cid-uFfTe6vcXn .item .item-wrapper .item-content .item-name {
  margin-bottom: 0;
}
.cid-uFfTe6vcXn .mbr-section-btn {
  margin-top: 42px;
  text-align: right;
}
@media (max-width: 992px) {
  .cid-uFfTe6vcXn .mbr-section-btn {
    margin-top: 22px;
  }
}
.cid-uFfTe6vcXn .mbr-section-title {
  color: #191c25;
}
.cid-uFfTe6vcXn .item-desc {
  color: #191c25;
  text-align: center;
}
.cid-uFfTe6vcXn .item-title {
  color: #191c25;
  text-align: center;
}
.cid-uFfTe6vcXn .item-name {
  color: #191c25;
  text-align: center;
}
.cid-uEqjU8nh7M {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #f5f7fd;
}
.cid-uEqjU8nh7M .mbr-fallback-image.disabled {
  display: none;
}
.cid-uEqjU8nh7M .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uEqjU8nh7M .content-wrap {
  justify-content: center;
}
.cid-uEqjU8nh7M .title-wrapper .logo-wrapper {
  margin-bottom: 16px;
}
.cid-uEqjU8nh7M .title-wrapper .logo-wrapper img {
  display: inline-flex;
  width: 60px;
  height: 60px;
  object-fit: contain;
  border-radius: 100%;
}
.cid-uEqjU8nh7M .title-wrapper .logo-wrapper a {
  display: inline-flex;
}
.cid-uEqjU8nh7M .title-wrapper .mbr-section-title {
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .cid-uEqjU8nh7M .title-wrapper .mbr-section-title {
    margin-bottom: 46px;
  }
}
.cid-uEqjU8nh7M .social-wrapper {
  margin-bottom: 16px;
  text-align: right;
}
@media (max-width: 992px) {
  .cid-uEqjU8nh7M .social-wrapper {
    margin-bottom: 46px;
    text-align: left;
  }
}
.cid-uEqjU8nh7M .social-wrapper .social-wrap {
  display: inline-flex;
  flex-wrap: wrap;
}
.cid-uEqjU8nh7M .social-wrapper .social-wrap .soc-item a {
  display: block;
}
.cid-uEqjU8nh7M .social-wrapper .social-wrap .soc-item a:hover .mbr-iconfont,
.cid-uEqjU8nh7M .social-wrapper .social-wrap .soc-item a:hover .mbr-iconfont {
  background-color: #ff543d;
}
.cid-uEqjU8nh7M .social-wrapper .social-wrap .soc-item a .mbr-iconfont {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  min-width: 60px;
  color: #ffffff;
  background-color: #212529;
  font-size: 32px;
  border-radius: 100%;
  transition: all 0.3s ease-in-out;
  margin: 0 10px 10px;
}
.cid-uEqjU8nh7M .copy-wrapper .mbr-copy {
  display: inline-block;
  width: 50%;
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .cid-uEqjU8nh7M .copy-wrapper .mbr-copy {
    width: 100%;
    text-align: left;
  }
}
.cid-uEqjU8nh7M .mbr-section-title {
  color: #ff8576;
}
.cid-uEqjU8nh7M .mbr-copy {
  color: #51565c;
}
.cid-uEqjU8nh7M .mbr-copy,
.cid-uEqjU8nh7M .copy-wrapper {
  text-align: right;
}
.cid-uEqjU8nh7M .mbr-section-title,
.cid-uEqjU8nh7M .logo-wrapper {
  color: #191f23;
}
.cid-uFfPC44WMu {
  background-color: transparent;
  z-index: 1000;
  width: 100%;
}
.cid-uFfPC44WMu .navbar-dropdown {
  background-color: #ffffff !important;
  padding: 0;
}
.cid-uFfPC44WMu .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background-color: #ffffff !important;
  background: #ffffff;
}
.cid-uFfPC44WMu .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-uFfPC44WMu .menu_box {
  flex-wrap: nowrap;
}
@media (max-width: 991px) {
  .cid-uFfPC44WMu .menu_box {
    flex-direction: column;
    align-items: flex-start;
  }
  .cid-uFfPC44WMu .menu_box .navbar.opened,
  .cid-uFfPC44WMu .menu_box .navbar-collapse {
    background-color: #ffffff !important;
    transition: all 0s ease 0s;
  }
}
.cid-uFfPC44WMu nav.navbar {
  position: fixed;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.cid-uFfPC44WMu .btn {
  min-height: auto;
  box-shadow: none;
  margin-top: 0;
}
.cid-uFfPC44WMu .btn:hover {
  box-shadow: none;
}
.cid-uFfPC44WMu .nav-item {
  margin: 4px 15px;
}
@media (min-width: 1200px) {
  .cid-uFfPC44WMu .nav-item {
    margin: 4px 24px;
  }
}
@media (max-width: 991px) {
  .cid-uFfPC44WMu .nav-item {
    margin: 0 !important;
  }
}
.cid-uFfPC44WMu .nav-item .nav-link {
  transition: all 0.5s ease-out;
  border-radius: .5rem !important;
  position: relative;
  opacity: 1;
}
.cid-uFfPC44WMu .nav-item .nav-link:hover,
.cid-uFfPC44WMu .nav-item .nav-link:focus {
  color: #baab99 !important;
}
.cid-uFfPC44WMu .dropdown-menu {
  border-radius: 0;
  box-shadow: none;
  text-align: left;
}
@media (min-width: 992px) {
  .cid-uFfPC44WMu .dropdown-menu {
    padding: 18px 34px 22px;
    min-width: 250px;
    top: auto !important;
    left: -40px !important;
  }
  .cid-uFfPC44WMu .dropdown-menu.dropdown-submenu {
    left: 215px !important;
    top: -45% !important;
  }
}
@media (max-width: 991px) {
  .cid-uFfPC44WMu .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]::after,
  .cid-uFfPC44WMu .link.dropdown-toggle::after {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-left: .5rem;
    margin-bottom: 2px;
    content: "";
    border: 2px solid;
    border-left: none;
    border-top: none;
    transform: rotate(-45deg);
    right: 15px;
    position: absolute;
    margin-top: -2px;
  }
  .cid-uFfPC44WMu .show.dropdown-toggle[aria-expanded="true"]::after {
    transform: rotate(45deg);
    margin-top: -4px;
  }
  .cid-uFfPC44WMu .offcanvas_box {
    display: none;
  }
}
.cid-uFfPC44WMu .dropdown-item {
  border: none;
  font-weight: 300 !important;
  transition: all 0.3s ease-in-out;
}
.cid-uFfPC44WMu .dropdown-item:hover,
.cid-uFfPC44WMu .dropdown-item:focus {
  color: #baab99 !important;
}
.cid-uFfPC44WMu .nav-dropdown .link {
  font-weight: 400 !important;
  padding: 0 !important;
  margin: 0 !important;
}
.cid-uFfPC44WMu .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: -4px;
}
.cid-uFfPC44WMu .container {
  display: flex;
  margin: auto;
}
.cid-uFfPC44WMu .iconfont-wrapper {
  color: #000000;
  font-size: 17px;
  margin-right: 10px;
  margin-bottom: 5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
.cid-uFfPC44WMu .iconfont-wrapper:last-child {
  margin-right: 0;
}
.cid-uFfPC44WMu .iconfont-wrapper:hover {
  opacity: .5;
}
.cid-uFfPC44WMu .navbar-nav {
  margin: 0 1rem;
}
@media (min-width: 992px) {
  .cid-uFfPC44WMu .navbar-nav {
    margin: 0;
  }
}
.cid-uFfPC44WMu .dropdown-menu,
.cid-uFfPC44WMu .navbar.opened {
  background-color: false !important;
}
.cid-uFfPC44WMu .nav-item:focus,
.cid-uFfPC44WMu .nav-link:focus {
  outline: none;
}
.cid-uFfPC44WMu .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-uFfPC44WMu .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-uFfPC44WMu .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-uFfPC44WMu .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-uFfPC44WMu .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-uFfPC44WMu .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-uFfPC44WMu .navbar {
  min-height: 70px;
  padding: 10px 0;
  transition: all 0.3s;
  border-bottom-width: 0;
}
@media (max-width: 992px) {
  .cid-uFfPC44WMu .navbar {
    min-height: 30px;
    max-height: none;
  }
}
.cid-uFfPC44WMu .navbar.opened {
  transition: all 0.3s;
}
.cid-uFfPC44WMu .navbar .dropdown-item {
  padding: 0;
  margin: 8px 0;
}
.cid-uFfPC44WMu .navbar .navbar-logo img {
  max-width: 50px;
  min-height: 50px;
  object-fit: contain;
  border-radius: 5px !important;
}
.cid-uFfPC44WMu .navbar .navbar-collapse {
  justify-content: center;
  justify-content: flex-end;
  z-index: 1;
}
.cid-uFfPC44WMu .navbar.collapsed {
  justify-content: center;
}
.cid-uFfPC44WMu .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-uFfPC44WMu .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-uFfPC44WMu .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-uFfPC44WMu .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-uFfPC44WMu .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-uFfPC44WMu .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: left;
}
.cid-uFfPC44WMu .navbar.collapsed .icons-menu {
  padding: 0;
}
@media (max-width: 991px) {
  .cid-uFfPC44WMu .navbar .nav-item {
    padding: .5rem 0;
  }
  .cid-uFfPC44WMu .navbar .navbar-collapse {
    padding: 34px 0;
    border-radius: 16px;
    width: 100%;
  }
  .cid-uFfPC44WMu .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-uFfPC44WMu .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-uFfPC44WMu .navbar .dropdown-menu {
    padding: 6px 0 6px 15px;
  }
  .cid-uFfPC44WMu .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-uFfPC44WMu .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
    margin-top: -0.4rem;
  }
  .cid-uFfPC44WMu .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-uFfPC44WMu .navbar ul.navbar-nav {
    overflow: hidden;
    margin: 0;
  }
  .cid-uFfPC44WMu .navbar ul.navbar-nav li {
    margin: 0;
  }
  .cid-uFfPC44WMu .navbar .dropdown-menu .dropdown-item {
    padding: 0 !important;
    margin: 0;
    margin-top: 8px;
    text-align: left;
  }
  .cid-uFfPC44WMu .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 0;
    width: 100%;
    justify-content: space-between;
  }
  .cid-uFfPC44WMu .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-uFfPC44WMu .navbar .icons-menu {
    padding: 0;
  }
}
.cid-uFfPC44WMu .navbar.navbar-short {
  min-height: 60px;
}
.cid-uFfPC44WMu .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-uFfPC44WMu .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-uFfPC44WMu .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-uFfPC44WMu .navbar-brand .navbar-caption {
  line-height: inherit !important;
  font-weight: 700;
}
.cid-uFfPC44WMu .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-uFfPC44WMu .dropdown-item.active,
.cid-uFfPC44WMu .dropdown-item:active {
  background-color: transparent;
}
.cid-uFfPC44WMu .navbar-expand-lg .navbar-nav .nav-link {
  margin: 8px 12px !important;
}
@media (max-width: 991px) {
  .cid-uFfPC44WMu .navbar-expand-lg .navbar-nav .nav-link {
    margin: 8px 0 !important;
  }
}
.cid-uFfPC44WMu .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-uFfPC44WMu .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-uFfPC44WMu .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-uFfPC44WMu ul.navbar-nav {
  flex-wrap: wrap;
  padding: 0;
}
.cid-uFfPC44WMu .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-uFfPC44WMu button.navbar-toggler {
  outline: none;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
  color: #ffffff;
  background: #baab99;
}
.cid-uFfPC44WMu button.navbar-toggler .hamburger span {
  position: absolute;
  right: 10px;
  margin-top: 14px;
  width: 26px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-uFfPC44WMu button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-uFfPC44WMu button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-uFfPC44WMu button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-uFfPC44WMu button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-uFfPC44WMu nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-uFfPC44WMu nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-uFfPC44WMu nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-uFfPC44WMu nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-uFfPC44WMu a.nav-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cid-uFfPC44WMu .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding: 0;
  text-align: center;
  margin-bottom: 35px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-uFfPC44WMu .navbar {
    height: 70px;
  }
  .cid-uFfPC44WMu .navbar.opened {
    height: auto;
  }
  .cid-uFfPC44WMu .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-uFfPC44WMu .navbar-dropdown .navbar-logo {
  margin-right: 10px;
}
@media (min-width: 768px) {
  .cid-uFfPC44WMu .container-fluid {
    padding-left: 56px;
    padding-right: 56px;
  }
}
.cid-uFfPC44WMu .mbr-section-btn-main {
  width: fit-content;
}
.cid-uFfPC44WMu .mbr-section-btn-main .btn {
  margin: 8px;
  min-width: 235px;
}
.cid-uFfPC44WMu .navbar-caption:hover {
  color: #4200ff;
}
@media (min-width: 992px) {
  .cid-uFfPC44WMu .dropdown-menu.dropdown-submenu {
    left: 175px !important;
    top: -45% !important;
  }
}
.cid-uFfPC44WMu .text_widget {
  margin-bottom: 32px;
}
.cid-uFfPC44WMu .text_widget a {
  transition: all 0.3s ease-out;
}
.cid-uFfPC44WMu .text_widget a:hover,
.cid-uFfPC44WMu .text_widget a:focus {
  opacity: .8;
}
@media (min-width: 992px) {
  .cid-uFfPC44WMu .navbar-nav.nav-dropdown {
    display: -webkit-flex;
    width: 100%;
    justify-content: flex-end;
    min-width: 200px;
  }
}
.cid-uFfPC44WMu .mbr-section-subtitle {
  color: #30262b;
  text-align: center;
}
.cid-uFfPC44WMu .navbar-caption {
  color: #30262b;
}
.cid-uFfPC44WMu .mbr-text {
  color: #30262b;
  text-align: center;
}
.cid-uFfPC44WMu .icons-menu-main {
  display: flex;
}
.cid-uFfPC44WMu .mbr-section-subtitle,
.cid-uFfPC44WMu .text_widget,
.cid-uFfPC44WMu .mbr-section-btn {
  text-align: center;
}
.cid-uFfPC44WMu a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  background-image: none;
}
.cid-uFfYf3cG4s {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #f5f7fd;
  overflow: hidden;
}
.cid-uFfYf3cG4s .mbr-fallback-image.disabled {
  display: none;
}
.cid-uFfYf3cG4s .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 992px) {
  .cid-uFfYf3cG4s .container {
    padding: 0 30px;
  }
}
.cid-uFfYf3cG4s .card {
  justify-content: center;
}
.cid-uFfYf3cG4s .content-wrapper {
  padding: 0 120px;
}
@media (max-width: 1440px) {
  .cid-uFfYf3cG4s .content-wrapper {
    padding: 0 60px;
  }
}
@media (max-width: 992px) {
  .cid-uFfYf3cG4s .content-wrapper {
    padding: 0;
  }
}
.cid-uFfYf3cG4s .content-wrapper .desc-wrapper .mbr-desc {
  display: inline-flex;
  position: relative;
  align-items: center;
  margin-bottom: 60px;
  padding-left: 120px;
}
@media (max-width: 992px) {
  .cid-uFfYf3cG4s .content-wrapper .desc-wrapper .mbr-desc {
    margin-bottom: 40px;
    padding-left: 60px;
  }
}
.cid-uFfYf3cG4s .content-wrapper .desc-wrapper .mbr-desc::before {
  content: '';
  position: absolute;
  left: 0;
  width: 90px;
  height: 1px;
  background-color: #17161a;
}
@media (max-width: 992px) {
  .cid-uFfYf3cG4s .content-wrapper .desc-wrapper .mbr-desc::before {
    width: 40px;
  }
}
.cid-uFfYf3cG4s .content-wrapper .mbr-text {
  margin-bottom: 180px;
}
@media (max-width: 992px) {
  .cid-uFfYf3cG4s .content-wrapper .mbr-text {
    margin-bottom: 80px;
  }
}
.cid-uFfYf3cG4s .content-wrapper .items-wrapper {
  padding-left: 240px;
}
@media (max-width: 1440px) {
  .cid-uFfYf3cG4s .content-wrapper .items-wrapper {
    padding-left: 120px;
  }
}
@media (max-width: 992px) {
  .cid-uFfYf3cG4s .content-wrapper .items-wrapper {
    padding-left: 0;
  }
}
.cid-uFfYf3cG4s .content-wrapper .items-wrapper .item {
  margin-bottom: 100px;
}
@media (max-width: 992px) {
  .cid-uFfYf3cG4s .content-wrapper .items-wrapper .item {
    margin-bottom: 80px;
  }
}
.cid-uFfYf3cG4s .content-wrapper .items-wrapper .item .item-wrapper {
  display: flex;
}
@media (max-width: 992px) {
  .cid-uFfYf3cG4s .content-wrapper .items-wrapper .item .item-wrapper {
    display: block;
  }
}
.cid-uFfYf3cG4s .content-wrapper .items-wrapper .item .item-wrapper .icon-wrapper .mbr-iconfont {
  display: inline-flex;
  width: 55px;
  height: 55px;
  font-size: 55px;
  min-width: 55px;
  margin-right: 60px;
  color: #17161a;
}
@media (max-width: 992px) {
  .cid-uFfYf3cG4s .content-wrapper .items-wrapper .item .item-wrapper .icon-wrapper .mbr-iconfont {
    margin: 0 0 40px 0;
  }
}
.cid-uFfYf3cG4s .content-wrapper .items-wrapper .item .item-wrapper .item-content .item-title {
  margin-bottom: 40px;
}
.cid-uFfYf3cG4s .content-wrapper .items-wrapper .item .item-wrapper .item-content .item-text {
  margin-bottom: 0;
}
.cid-uFfYf3cG4s .mbr-desc {
  color: #254b45;
}
.cid-uFfYf3cG4s .mbr-text {
  color: #254b45;
}
.cid-uFfYf3cG4s .item-title {
  color: #254b45;
}
.cid-uFfYf3cG4s .item-text {
  color: #254b45;
}
.cid-uEqjU8nh7M {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #f5f7fd;
}
.cid-uEqjU8nh7M .mbr-fallback-image.disabled {
  display: none;
}
.cid-uEqjU8nh7M .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uEqjU8nh7M .content-wrap {
  justify-content: center;
}
.cid-uEqjU8nh7M .title-wrapper .logo-wrapper {
  margin-bottom: 16px;
}
.cid-uEqjU8nh7M .title-wrapper .logo-wrapper img {
  display: inline-flex;
  width: 60px;
  height: 60px;
  object-fit: contain;
  border-radius: 100%;
}
.cid-uEqjU8nh7M .title-wrapper .logo-wrapper a {
  display: inline-flex;
}
.cid-uEqjU8nh7M .title-wrapper .mbr-section-title {
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .cid-uEqjU8nh7M .title-wrapper .mbr-section-title {
    margin-bottom: 46px;
  }
}
.cid-uEqjU8nh7M .social-wrapper {
  margin-bottom: 16px;
  text-align: right;
}
@media (max-width: 992px) {
  .cid-uEqjU8nh7M .social-wrapper {
    margin-bottom: 46px;
    text-align: left;
  }
}
.cid-uEqjU8nh7M .social-wrapper .social-wrap {
  display: inline-flex;
  flex-wrap: wrap;
}
.cid-uEqjU8nh7M .social-wrapper .social-wrap .soc-item a {
  display: block;
}
.cid-uEqjU8nh7M .social-wrapper .social-wrap .soc-item a:hover .mbr-iconfont,
.cid-uEqjU8nh7M .social-wrapper .social-wrap .soc-item a:hover .mbr-iconfont {
  background-color: #ff543d;
}
.cid-uEqjU8nh7M .social-wrapper .social-wrap .soc-item a .mbr-iconfont {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  min-width: 60px;
  color: #ffffff;
  background-color: #212529;
  font-size: 32px;
  border-radius: 100%;
  transition: all 0.3s ease-in-out;
  margin: 0 10px 10px;
}
.cid-uEqjU8nh7M .copy-wrapper .mbr-copy {
  display: inline-block;
  width: 50%;
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .cid-uEqjU8nh7M .copy-wrapper .mbr-copy {
    width: 100%;
    text-align: left;
  }
}
.cid-uEqjU8nh7M .mbr-section-title {
  color: #ff8576;
}
.cid-uEqjU8nh7M .mbr-copy {
  color: #51565c;
}
.cid-uEqjU8nh7M .mbr-copy,
.cid-uEqjU8nh7M .copy-wrapper {
  text-align: right;
}
.cid-uEqjU8nh7M .mbr-section-title,
.cid-uEqjU8nh7M .logo-wrapper {
  color: #191f23;
}
